<nav class="navbar">
  <a href="https://freecodecamp.org" class="logo">
    <img src="../../assets/images/logo.png">
  </a>
  <ul class="nav-links">
    <li class="nav-item"><a href="#">
      <input *ngIf="isSearchOpen" class="search-bar" type="text">
      <img src="../../assets/images/search.png" (click)="isSearchOpen = !isSearchOpen">
    </a></li>
  </ul>
</nav>
