nav {
  width: 100%;
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

.logo img {
  width: 200px;
  vertical-align: middle;
}

.nav-item img {
  height: 40px;
  margin-bottom: 2.5px;
}

.search-bar {
  border: solid 5px #F0F7FE;
  background: #F0F7FE;
  height: 34px;
}
