<div class="container login__container">
  <div class="row">
    <div class="col-sm-12 login__header">
      <h2>Sign in Now</h2>
      <label class="login__sub-header">Unlock awesome features!</label>
    </div>
    <div class="col-sm-12 login__box">
      <form [formGroup]='register' (ngSubmit)='onSubmit()' novalidate>
        <div class="form-group">
          <span class="login__error" *ngIf="formInvalid">Required Field</span>
          <input type="text" formControlName="username" class="form-control" placeholder=" " required/>
          <span [ngClass]="{'floating-span-error': formInvalid}" class="floating-span login__floating-label-username">Username</span>
        </div>
        <div class="form-group">
          <span class="login__error" *ngIf="formInvalid">Required Field</span>
          <input type="password" formControlName="password" class="form-control" placeholder=" " required/>
          <span [ngClass]="{'floating-span-error': formInvalid}"  class="floating-span login__floating-label-password">Password</span>
        </div>
        <div class="row">
          <div class="col-sm-6 login__remember-me">
            <label>
              <input type="checkbox" name="item" checked/>
              <span class="text-checkbox">Keep me logged in</span>
            </label>
          </div>
          <div class="col-sm-6 login__remember-forgot-password">
              <span class="text-checkbox">Forgot Password?</span>
          </div>
        </div>
        <button class="login__sign-in" type="submit">Sign In</button>
      </form>
    </div>
  </div>
</div>

