.login__container {
  margin: 0 auto;
  max-width: 350px;
  height: 60%;
  border: 1px solid #dddddd;
}

.login__header {
  padding: 25px;
  text-align: center;
}
.login__sub-header {
  color: #b0b0b0;
}

.login__box {
  padding: 10px 25px;
}

.form-group {
  position: relative;
}

.floating-span {
  padding:5px 10px;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s;
  opacity:0.5;
}

.floating-span-error {
  top: -10px;
  left: -10px;
}

input:focus + .floating-span, input:not(:placeholder-shown) + .floating-span {
  opacity:1;
  transform: scale(0.75) translateY(-100%) translateX(-30px);
}

.login__remember-me, .login__remember-forgot-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login__remember-forgot-password {
  justify-content: flex-end;
}

.login__remember-me input {
  margin-right: 7px;
  width: auto;
}

.login__remember-me span {
 font-size: 12px;
}

.login__remember-forgot-password span {
  float: right;
  font-size: 12px;
  color: #256cab;
}

.login__sign-in {
  color: #fff;
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border: 0;
  outline: 0;
  background: #04549f;
  width: 100%;
  height: 40px;
  text-transform: uppercase;
}

.login__error {
  float: right;
  font-size: 10px;
  color: #FF0000;
  background: rgb(255, 0, 0, 0.1);
  padding: 3px;
}
