<div class="product__container">
  <div class="product__item">
      <img src="../../assets/images/product.png" alt="Image">
    <span class="product__item-heading">
      iPhone 6 Black
    </span>
    <span class="product__item-sub-heading">AED 1000</span>
  </div>

  <div class="product__item">
      <img src="../../assets/images/product.png" alt="Image">
    <span class="product__item-heading">
      iPhone 7 Black
    </span>
    <span class="product__item-sub-heading">AED 2000</span>
  </div>

  <div class="product__item">
      <img src="../../assets/images/product.png" alt="Image">
    <span class="product__item-heading">
      iPhone 8 Black
    </span>
    <span class="product__item-sub-heading">AED 3000</span>
  </div>
</div>
