.product__container {
  display: flex;
  padding: 30px;
}

.product__item {
  display: flex;
  flex: 1 1 30%;
  flex-direction: column;
}

.product__item img {
  width: 50%;
  border: 1px solid #b0b0b0 ;
  margin: auto;
}

.product__item-sub-heading {
  font-weight: bold;
  color: #000000;
}

.product__item-heading {
  color: #b0b0b0 !important;
}

.product__item-heading, .product__item-sub-heading {
  flex: 1;
  display: flex;
  color: #000000;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

